<% if resource.errors.any? %>
  <div class="bg-red-500/20 border border-red-500 text-red-200 rounded-lg p-3 text-sm" data-turbo-cache="false">
    <p class="font-semibold mb-1">
      <%= pluralize(resource.errors.count, "個錯誤") %>阻止了保存：
    </p>
    <ul class="list-disc pl-5">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
